{# TODO : manage errors display #}

{% if item.id is not defined %}
	<form method="post" action="/items/add" id="add_item_form">
		<label for="add_item_form_title">Title</label>
		<input type="text" value="{{ item.title }}" name="title" id="add_item_form_title">
		<label for="add_item_image_url">Image</label>
		<input type="file" id="add_item_image_url" name="image_url">
		<button>Add an item</button>
	</form>
{% else %}
	<form method="post" action="/items/edit?id={{ item.id }}" id="edit_item_form">
		<input type="hidden" value="{{ item.id }}" name="id">
		<label for="edit_item_form_title">Tile</label>
		<input type="text" value="{{ item.title }}" name="title" id="edit_item_form_title">
		<button>Edit an item</button>
	</form>
{% endif %}

